@model ViewSearch

@{
    ViewData["Title"] = "AllBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>


<form method="post">
   

     <input asp-for="Name" type="text"  />
    <br>
     <input type="text" />
    <br>
    <input type="date" />
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Minimum and Maximum price</span>
        </div>
        <input type="number" aria-label="Minimum price" class="form-control">
        <input type="number" aria-label="Maximum price" class="form-control">
    </div>
    <br>
    <input type="range" min="1" max="5" style="width:25%">

    <input asp-action="AllBooks" type="submit" value="search" />


</form>


<div class="rowbookcart">

    @foreach (var item in Model.Books)
    {
        <div class="childrow2froShopingCart">
            <a class="childrow1a" asp-controller="Books" asp-action="GetBooks" asp-route-Id="@item.Id">
                <p class="prowName">
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
                <p class="prow">
                    @Html.DisplayFor(modelItem => item.Author)
                </p>

                <p class="prow">
                    @Html.DisplayFor(modelItem => item.Price)<span>&#1423;</span>
                </p>
                <p class="prow">
                    @{
                        for (int j = 0; j < item.Popular; j++)
                        {
                            <span class="star">&#9733;</span>
                        }
                    }
                </p>
                <p class="prow">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </p>
            </a>
        </div>
    }
</div>

@for (int i = 0; i < Model.Books.Count(); i++)
{
    <a asp-action="AllBooks" asp-route-count="@i" class="paginationsm">@i</a>

}
