@model ViewSearch

@{
    ViewData["Title"] = "AllBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p class="bookname">
    Filtr By
</p>
<form method="post">

    <div>
        <input class="showbookFilter" asp-for="Name" type="text" placeholder="Book Name" />
    </div>
    <div>
        <input class="showbookFilter" asp-for="Author" type="text" placeholder="Author" />
    </div>
    <div>
        <input class="showbookFilter" asp-for="Publish" type="date" />
        Publish Date
    </div>
    <div>
        <input class="showbookFilter" asp-for="MinPrice" type="number" min="0" style="font-size:15px ">
        Minimum Price
    </div>
    <div>
        <input class="showbookFilter" asp-for="MaxPrice" type="number" min="0" style="font-size:15px">
        Maximum Price
    </div>
    <div>
        <input class="showbookFilter" asp-for="Popular" type="range" min="1" max="5" style="width:25% ">
        Popularity
    </div>
    <div>
    <input asp-action="AllBooks" class="showbookbutton1" type="submit" value="Search" /> 
    </div>















</form>


<div class="rowbookcart">

    @foreach (var item in Model.Books)
    {
        <div class="childrow2froShopingCart">
            <a class="childrow1a" asp-controller="Books" asp-action="GetBooks" asp-route-Id="@item.Id">
                <p class="prowName">
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
                <p class="prow">
                    @Html.DisplayFor(modelItem => item.Author)
                </p>

                <p class="prow">
                    @Html.DisplayFor(modelItem => item.Price)<span>&#1423;</span>
                </p>
                <p class="prow">
                    @{
                        for (int j = 0; j < item.Popular; j++)
                        {
                            <span class="star">&#9733;</span>
                        }
                    }
                </p>
                <p class="prow">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </p>
            </a>
        </div>
    }
</div>

@for (int i = 0; i < Model.Books.Count(); i++)
{
    <a asp-action="AllBooks" asp-route-count="@i" class="paginationsm">@i</a>

}
