@model IEnumerable<Online_Book_Store.BookStore.Data.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class=" categorybodydiv">


    @foreach (var item in Model)
    {
        <a class="childrow1a" asp-controller="Categories" asp-action="GetBookinCategory" asp-route-bookcategory="@item.Name">


            <div class="childrow2froCategories">
                <img class="readbookCategoyicon" src="https://www.waukon.lib.ia.us/images/p2014/home-images/2010/osweb_040.jpg/image" />
                <p class="prowName">

                    @Html.DisplayFor(modelItem => item.Name)
                </p>

                <p class="prowCategories">

                    @Html.DisplayFor(modelItem => item.Discription)
                </p>



            </div>
        </a>



    }
</div>
@for (int i = 0; i < Model.Count(); i++)
{
    <a asp-action="Index" asp-route-count="@i" class="paginationsm">@i</a>

}

