@model IEnumerable<ShopingCartModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="rowbook">


    @foreach (var item in Model)
    {

        <div class="childrow1">
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Author)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Name)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Popular)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Price)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Publish)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.CategoryName)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Amount)
            </p>




            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </div>
            }
        </div>
