@model IEnumerable<ShopingCartModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="rowbookcart">


    @foreach (var item in Model)
    {

        <div class="childrow2froShopingCart">
            <p class="prowName">
                @Html.DisplayFor(modelItem => item.Book.Name)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Author)
            </p>

            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.Price)
            </p>
            <p class="prow">
                @Html.DisplayFor(modelItem => item.Amount)
            </p>
            <p class="prowPriceTotal">
                Total Price @Html.DisplayFor(modelItem => item.TotalPrice)
            </p>

            <p class="prow">
                @Html.DisplayFor(modelItem => item.Book.CategoryName)
            </p>
            <a asp-action="Buy" asp-route-Id="@item.Id" class="showbookbutton">Buy</a>





            <p class="prow">

                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>

        </div>
    }
</div>
